<div class="jumbotron sub">
	<div class="container">
<h1>Corporate Tax Services</h1>
<section class="pricing" id="pricing">
         <div class="container">
            <h4>Pricing</h4>
            <h2>Straight forward pricing… <b>no surprises!</b></h2>
            <div class="price-scale">
               <div class="scalebox loadmoving">
                  <span class="captions">Move to calculate the fee</span>
                  <span class="employee">Monthly Fee Estimate</span>
                  <span class="price">Starting at $3,000 per year for monthly customized solutions that include bookkeeping.
                  </span>
               </div>
                <div id="slider"></div>
               <!--price scale-->
               <div class="price-caption"><span class="testi">With</span> <span class="value-person styler"> </span><span class="testi">in revenue esimated for your company, fees start as low as</span>  <span class="value-doller styler"> </span> <span class="testi">for a complete solution.</span></div>
               
               
            </div>

            </div>
            <section id="pricePlans">
        <div class="container">
            <div class="row"><br> <div><h2 class="h2PricePlans">Below are some of our plans:</h2>
            </div>

            <ul id="plans">
                <li class="plan text-center">

                    <ul class="planContainer">
                        <li class="title">
                                     <h2>Sole Proprietor Plan</h2>
                        </li>

                        <li class="price">
                            <p>$300</p>
                            <p class="per">per quarter</p>
                        </li>

                        <li class="description">
                            <p>Great for soleproprietors operating a d/b/a or single member LLC.</p>
                        </li>

                        <li class="features">Features</li>

                        <li class="options">
                            <ul>
                                         <li>
                                                      <strong>Payroll</strong> 1 employee
                                                </li>
                                                <li>
                                                      <strong>1099</strong> Filing
                                                </li>
                                                                                          <li>
                                                      <strong>Personal</strong> Tax Preparation
                                                </li>
                                                <li>
                                                      <strong>File Retention</strong> System 
                                                </li>
                                                <li>
                                                      <strong>IRS</strong> Representation
                                                </li>
                            </ul>

                        
                    </ul>

                       <ul class="button">
                            <a href="http://swiftax.rerunapp.com/checkout" class="getStarted">Get Started</a>
                        </ul>
                </li>

                <li class="plan">

                    <ul class="planContainer">
                        <li class="title">
                            <h2>Starter Plan</h2>
                        </li>

                        <li class="price">
                            <p>$350</p>
                            <p class="per">per month</p>
                        </li>

                         <li class="description">
                            <p>Great for businesses who want monthly coaching, payroll and help with their taxes.</p>
                        </li>

                        <li class="features">Features</li>

                        <li class="options">
                            <ul>
                                                               <li>
                                                      <strong>Payroll</strong> up to 5 employees
                                                </li>
                                                                   <li>
                                                      <strong>1099</strong> Filing
                                                </li>
                                                <li>
                                                      <strong>Business</strong> Tax Preparation
                                                </li>
                                                <li>
                                                      <strong>Personal</strong> Tax Preparation
                                                </li>
                                                <li>
                                                      <strong>File Retention</strong> System 
                                                </li>
                                                <li>
                                                      <strong>IRS</strong> Representation
                                                </li>
                                                <li>
                                                      <strong>Tax Planning</strong> Year-Round
                                                </li>

                            </ul>
                        </li>

                        
                    </ul>
                    <ul class="button">
                            <a href="http://swiftax.rerunapp.com/checkout" class="getStarted">Get Started</a>
                        </ul>
                </li>

                <li class="plan">
                    <ul class="planContainer">
                        <li class="title">
                              <h2>Growth Plan</h2>
                        </li>

                        <li class="price">
                            <p>$650</p>
                            <p class="per">per month</p>
                        </li>

                         <li class="description">
                            <p>Great for growing businesses with multiple employees.</p>
                        </li>

                        <li class="features">Features</li>

                        <li  class="options">
                            <ul>
                                 <li>
                                                      <strong>Payroll</strong> up to 10 employees
                                                </li>
                                                <li>
                                                      <strong>Contractors</strong> 1099 Filing
                                                </li>
                                                <li>
                                                      <strong>Business</strong> Tax Preparation
                                                </li>
                                                <li>
                                                      <strong>Personal</strong> Tax Preparation
                                                </li>
                                                <li>
                                                      <strong>File Retention</strong> System 
                                                </li>
                                                <li>
                                                      <strong>IRS</strong> Representation
                                                </li>
                                                <li>
                                                      <strong>Tax Planning</strong> Year-Round
                                                </li>
                                                       <li>
                                                      <strong>Xero Software </strong>  Setup
                                                </li>
                                                                      <li>
                                                      <strong>Client  </strong>  Bookkeeping and Reconciliation
                                                </li>
                                                                 <li>
                                                      <strong>Swiftax Monthly </strong>  Review
                                                </li>
                            </ul>
                        </li>

                        
                    </ul>
                <ul class="button">
                        <a href="http://swiftax.rerunapp.com/checkout" class="getStarted">Get Started </a>
                    </ul>
                </li>

                <li class="plan">
                    <ul class="planContainer">
                        <li class="title">
                            <h2>Custom Services</h2>
                        </li>
                        <li class="price" style="display:none;">
                            <p></p>                           
                        </li>
                        <li class="custom-price">
                            <p>Receive a 1-on-1<br><strong>PRIVATE CONSULTATION</strong><br>For Custom Pricing</p>
                        </li>

                        <li class="features">Additional Services</li>

                        <li class="options">
                            <ul>
                                <li>Individual Tax Services</li>

                                <li>Non-Profit Tax Services</li>
                                <li>Corporate Tax Services </li>
                                <li>Partnership Tax Services </li>

                                <li>Company Formation Services (Corporations
                                and LLCs)</li>

                                <li>Full Bookkeeping</li>
                            </ul>
                        </li>

                        
                    </ul>
                    <ul class="button">
                            <a href="http://swiftax.rerunapp.com/checkout" class="getStarted">Get
                            Started</a>
                        </ul>
                </li>
            </ul><!-- End ul#plans -->
            </div>

    </section>
</div>
</div>
