

//Pricing Section

// Colors #595959 for Swiftax Silver and #074887 for swiftax blue


html,html a {
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

#plans,#plans ul,#plans ul li {
	margin: 0;
	padding-left: 0;
        list-style: none;
}

#pricePlans:after {
	content: '';
	display: table;
	clear: both;
}

#pricePlans {
	zoom: 1;
}

#pricePlans {
	margin: 0 auto;
}

#pricePlans #plans .plan {
	
	
	float: left;
	width: 100%;
	text-align: center;
	
	margin: 0 0 20px 0;
	    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	
}

#pricePlans #plans .plan .planContainer{
min-height: 400px;
background: #fff;
border-radius: 5px;
float: left;
width: 100%;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.planContainer .title h2 {
	font-size: 1.5em;
	font-weight: 300;
	color: #333333;
	margin: 0;
	padding: 30px 0 0px;
	text-transform: none;
}


.planContainer .price p {


	color: #333333;
	font-size: 40px;
	font-weight: 500;
	text-align: center;
	margin: 40px 0 5px;
	line-height: 1;
}
.planContainer .description{

	min-height: 115px;

}
.planContainer .description p {


	color: #333333;
	font-size: 14px;
	text-align: center;
	padding: 0 15px;
	font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400;
	margin: 0px 0px 40px;
}

.planContainer .features{
		padding:15px 0px;
		border-top: 1px solid #EAEAEA;
		cursor: pointer;
		background: transparent url(../img/plus-icon.png) no-repeat 93% center;
		background-size: 12px 12px;
}

.planContainer .features.toggled{
		background: transparent url(../img/minus-icon.png) no-repeat 93% center;
		background-size: 12px 12px;
}

#preload-01 { background: url(../img/minus-icon.png) no-repeat -9999px -9999px; }


.planContainer .price p.per {
	color: #333333;
	font-size: 16px;
	text-align: center;
	font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400;
	margin: 0px 0px 40px;
	
}
.planContainer .custom-price{
	min-height: 286px;
}
.planContainer .custom-price p {
		font-weight: 500;
		color: #333333;
		font-size: 18px;
		padding: 100px 15px 50px 15px;
}

.planContainer .options {
	display: none;


}

.planContainer .options li {
	font-weight: 500;
	font-size: 13px;
	color: #606369;
	text-align: left;
	padding: 15px 15px !important;
		border-top: 1px solid #EAEAEA;
}



.plan .button a {
	
	text-decoration: none;
	cursor: pointer;
        color: #fff;
	background: #074887;
	font-weight: 500;
	font-size: 18px;
	letter-spacing: 2px;
	padding: 5px 0;
	line-height: 2.8em;
	float: left;
	width: 100%;
	margin: 15px 0px;
	border-bottom: solid 2px #052B4F;
	border-radius: 5px;

}




@media screen and (min-width: 769px) and (max-width: 1199px) {

#pricePlans #plans .plan {
	width: 49%;
	margin: 0 2% 20px 0;
}

#pricePlans #plans > li:nth-child(2n) {
	margin-right: 0;
}

}

@media screen and (min-width: 1200px) {

#pricePlans {
	
}

#pricePlans #plans .plan {
	width: 24%;
	margin: 0 1.33% 20px 0;

	-webkit-transition: all .25s;
	   -moz-transition: all .25s;
	    -ms-transition: all .25s;
	     -o-transition: all .25s;
	        transition: all .25s;
}

#pricePlans #plans > li:last-child {
	margin-right: 0;
}



.plan .button a {
	-webkit-transition: all .25s;
	   -moz-transition: all .25s;
	    -ms-transition: all .25s;
	     -o-transition: all .25s;
	        transition: all .25s;
}

.plan .button a:hover {
	background: #031D36;
	border-bottom: solid 2px #031D36;
	color: #fff;
}

}

#plans h1 {
	background: #222;
	color: #fff;
}


